<!DOCTYPE html>
<html lang="en">
	<head>
	  <link rel="stylesheet" href="/css/normalize.css">
	  <link rel="stylesheet" href="/css/application.css">

	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	  <script src="/js/application.js"></script>
	  <script src="/js/mousetrap.js"></script>

	  <title>Survey Seal</title>
	</head>
	<body>
		<header>
			<img src = "seal_pic.png" id = "seal">
			<h1>Survey Seal</h1>
			<nav>
				<ul>
					<li><a href = "#">home</a></li>
					<li><a href = "#">sillyness</a></li>
					<li><a href = "#">wierdness</a></li>
					<li><a href = "#">About</a></li>
					<li>
      			<% if current_user %>
         			<a href="/logout">Logout</a>
       			<% else %>
          		<a href="/login">Login</a> | <a href="/signup">Signup</a>
        		<% end %>
					</li>
				</ul>
			</nav>
		</header>
			<div class = "container">
			  <%= yield %>
			</div>
		<footer>
			blah
		</footer>
	</body>
</html>
